.hero-block img {
  transition: transform 1s ease;
}
.hero-block img:hover {
 transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
 transition: transform 2s ease-out;
}
.main-button {
  transition: transform 1s ease;
  transform-origin: left;
}
.main-button:hover {
  transform: rotate(10deg);
  /*animation: rotate 2s infinite;*/
  transform-origin: left;
}
.learn-more-button {
  transition: transform 1s ease;
}
.learn-more-button:hover {
    transform: scale(0.95);
    background-color: #ffffff;
    color: #39c2d7;
}