@media (max-width: 768px) {
  body {
    position: relative;
    width: 480px;
  }
  /* header */
  .header-menu {
    position: absolute;
    width: 433px;
    height: 15.24px;
    left: 27px;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project {
    width: 433px;
    height: 15.24px;
  }
  .header-menu-nav {
    display: none;
  }
  .burger-bar {
    display: block;
  }
  /* hero section */
  .hero {
    width: 480px;
  }
  .hero-block {
    width: 426.32px;
    height: 295.82px;
    left: 27.4px;
    top: 257.99px;
  }
  /* main section */
  .main {
    width: 355px;
    width: 480px;
    height: 990px;
    left: 0px;
    top: 800px;
  }
  .main h2 {
    width: 355px;
    height: 261px;
    left: 63px;
    top: 865px;
  }
  .main h4 {
    width: 453px;
    height: 81px;
    left: 27px;
    top: 1167px;
  }
  .main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 445px;
    height: 183px;
    left: 27px;
    top: 1276px;
  }
  .main-block-p-right {
    width: 100%;
  }
  .main-block-p-left {
    margin-top: 24px;
    width: 100%;
  }
  .main-button {
    margin-top: 130px;
  }
  /* learn more */
  .learn-more {
    margin-bottom: 20px;
    position: absolute;
    width: 483.71px;
    height: 637px;
    left: -0.94px;
    top: 1789px;
  }
  .learn-more-block {
    width: 483.71px;
    height: 637px;
  }
  footer {
    width: 493px;
    height: 292px;
    left: -5px;
    top: 2426px;
  }
  .footer {
    margin-left: 0;
    justify-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
  .footer :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .footer :nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .footer a {
    grid-column: 1;
    grid-row: 4;
  }
}
